.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.dialogBox {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 50%;
    margin-left: auto;
    /* background-color: #333; */
    color: white;
    /* padding: 20px; */
    border-radius: 10px;
    /* display: flex; */
    height: 100%;
}

.buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.helpoptions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.helpoptions button {
    width: 246px;
    height: 87px;
    font-family: Hind;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.4px;
    background-color: #d3a3d3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
}

.button {
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: Fixed (246px) px;
    height: Fixed (87px) px;
    top: 299px;
    left: 562px;
    padding: 24px 0px 0px 0px;
    gap: 8px;
    border-radius: 24px 0px 0px 0px;
}

.button:hover {
    background-color: #dedede;
}

.gateInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.map {
    margin: 20px 0;
}

.map img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.steps {
    max-height: 200px;
    /* Set a fixed height for the scrollable area */
    overflow-y: auto;
    /* Enable vertical scrolling */
    padding-right: 10px;
    /* Optional: Add padding to avoid scrollbar overlap */
    padding: 24px 32px 24px 32px;
    gap: 8px;
    width: 512px;
    border-radius: 32px 32px 32px 32px;
    background-color: #3e005b;
}

.step {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    display: flex;
    padding: 10px;
    /* background-color: #fff; */
    border-radius: 10px;
    margin: 5px 0;
    color: white;
}

.step span {
    margin: 4px 0;
}

.backgroundImage {
    display: flex;
    background-size: cover;
    background-position: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    border-radius: 24px;
    margin: 80px;
}

.mapImage {
    background-image: url('../public/images/map.png');
    /* Correct the path */
    background-size: cover;
    /* Adjust as needed */
    background-position: center;
    /* Adjust as needed */
    width: 512px;
    /* Adjust as needed */
    height: 150px;
    /* Adjust as needed */
    border-radius: 15px;
}

/* src/App.css */
.steps-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
}

.step-card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.step-card p {
    margin: 5px 0;
    color: #555;
    font-size: 14px;
}

.step-card div {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.input {
    /* margin-top: 20px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: Fixed (509px)px; */
    height: Hug (45px) px;
    top: 551px;
    left: 562px;
    padding: 12px 24px 12px 24px;
    gap: 0px;
    border-radius: 24px 0px 0px 0px;
    justify: space-between;
}

.helpBox {
    font-family: Hind;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0.02em;
    text-align: left;
    width: Fixed (516px) px;
    height: Hug (152px) px;
    top: 123px;
    left: 562px;
    padding: 24px 32px 24px 32px;
    gap: 8px;
    border-radius: 32px 32px 32px 4px;
    background-color: #3e005b;
    padding: 16px;
    /* Optional: Add padding for better appearance */
    color: white;
    /* Optional: Add text color for better readability */
}
.welcomeMessage {
    font-size: 96px;
    font-weight: 400;
    font-family: Hind;
    line-height: 124.8px;
    max-width: max-content;
    margin-right: 30px;
    top: 296px;
    left: 1394px;
    padding: 40px 56px;
    gap: 8px;
    border-radius: 64px 64px 64px 8px !important;
    color: white;
}

.chatBubble {
    margin-top: 32px;
    font-family: Hind;
    font-size: 48px;
    font-weight: 400;
    line-height: 62.4px;
    letter-spacing: 0.02em;
    text-align: left;
    width: Fixed (516px) px;
    height: Hug (152px) px;
    top: 123px;
    left: 562px;
    /* padding: 24px 32px 24px 32px; */
    gap: 8px;
    padding: 48px;
    /* Optional: Add padding for better appearance */
    color: white;
    /* Optional: Add text color for better readability */
}

.systemMessage {
    background-color: #cf0176;

    border-radius: 32px 32px 32px 4px;
}

.fontHind {
    font-family: Hind;
    font-weight: 500;
    font-size: 56px;
    line-height: 72.8px;
}

.userMessage {
    background-color: #b1dcf5;
    color: #2e0055;

    border-radius: 32px 32px 4px 32px;
}

.mapHeaderBox {
    font-family: Hind;
    font-size: 20px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 512px;
    height: Hug(152px) px;
    top: 123px;
    left: 562px;
    padding: 24px 32px 24px 32px;
    gap: 8px;
    border-radius: 32px 32px 32px 4px;
    background-color: purple;
    /* padding: 16px; */
    color: white;
}

.helpBox {
    width: 51%;
    background-color: rgba(62, 0, 91, 0.9);
    /* border-radius: 24px 0px 0px 0px; */
    padding: 16px;
    color: white;
    text-align: center;
    /* Center the text */
}

.helpoptions {
    gap: 24px;
    margin-top: 16px;
    width: 51%;
}

.helpoptions button {
    font-family: Hind;
    font-weight: 500;
    font-size: 22px;
    line-height: 26.4px;
    padding: 12px;
    border: none;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.helpoptions button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.inputContainer {
    position: relative;
    width: 100%;
    margin-top: 16px;
}

.inputContainer input {
    width: 100%;
    padding-left: 16px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 80px;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    font-family: Hind;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
}

.inputContainer .micIcon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.avatar {
    flex: 1;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 5rem;
    background-color: #2e0055;
    font-family: 'Hind', sans-serif;
}

.bottomCard {
    width: 1258px;
    height: 315px;
    background-color: #6b2ba0;
    border-radius: 64px;
    display: flex;
    overflow: hidden;
}

.bottomCardSection {
    width: 303px;
    height: 315px;
    border-right: 2px solid #2e0055;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottomCardicon {
    width: 124px;
    height: 112px;
    color: white;
    margin-bottom: 1.5rem;
}

.bottomCardTextLarge {
    font-size: 48px;
    line-height: 58px;
    color: white;
    font-weight: 500;
}

.bottomCardTextMedium {
    font-size: 56px;
    line-height: 72px;
    color: white;
    font-weight: 500;
    width: 859px;
    height: 137px;
}

.bottomCardSvgIcon {
    margin-bottom: 1.5rem;
    width: 68px;
    height: 112px;
}

.backgroundContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(62, 0, 91);
    height: '100vh';
}

.endChatButton {
    z-index: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
    top: 56px;
    left: 56px;
    padding: 12px 24px;
    gap: 8px;
    border-radius: 24px;
    color: rgb(46, 0, 85);
}
.chatOptionButton {
    width: 604px;
    height: 204px;
    top: 709px;
    left: 1394px;
    padding: 40px 56px;
    gap: 8px;
    border-radius: 48px;
    font-family: Hind;
    font-size: 56px;
    line-height: 67.2px;
    color: #2e0055;
}
@media (width: 2732px) and (height: 2048px) {
    .chatBubbleImage {
        justify-content: start;
        padding-top: 20px;
        width: 1258px;
        border-radius: 48px;
    }
    .chatOptionContainer {
        gap: '32px';
        margin-top: '32px';
    }
    .chatOptionButton {
        width: 604px;
        height: 204px;
        top: 709px;
        left: 1394px;
        padding: 40px 56px;
        gap: 8px;
        border-radius: 48px;
        font-family: Hind;
        font-size: 56px;
        line-height: 67.2px;
        color: #2e0055;
    }

    .chatBoxLayout {
        flex-grow: 1;
        height: 60vh;
        padding-left: 1rem;
        overflow-y: scroll;
        width: 100%;
    }
    .flexContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding: 5rem;
        background-color: #2e0055;
        font-family: 'Hind', sans-serif;
    }

    .bottomCard {
        width: 1258px;
        height: 315px;
        background-color: #6b2ba0;
        border-radius: 64px;
        display: flex;
        overflow: hidden;
    }

    .bottomCardSection {
        width: 303px;
        height: 315px;
        border-right: 2px solid #2e0055;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bottomCardicon {
        width: 124px;
        height: 112px;
        color: white;
        margin-bottom: 1.5rem;
    }

    .bottomCardTextLarge {
        font-size: 48px;
        line-height: 58px;
        color: white;
        font-weight: 500;
    }

    .bottomCardTextMedium {
        font-size: 56px;
        line-height: 72px;
        color: white;
        font-weight: 500;
        width: 859px;
        height: 137px;
    }

    .bottomCardSvgIcon {
        margin-bottom: 1.5rem;
        width: 68px;
        height: 112px;
    }
}

@media (width: 1180px) and (height: 820px) {
    .videoWrapper video {
        border-radius: 32px !important;
    }
    .endChatButton {
        z-index: 1;
        font-weight: 400;
        font-size: 12px;
        line-height: 13.8px;
        top: 22px;
        left: 14px;
        padding: 11px 13px;
        gap: 8px;
        border-radius: 24px;
        color: rgb(46, 0, 85);
    }
    .backgroundImage {
        flex-grow: 1;
        border-radius: 24px;
        margin: 32px;
    }
    .inputContainer {
        position: relative;
        width: 100%;
        margin-top: 16px;
    }

    .homeLayout {
        display: flex;
        flex-direction: column;
        background-color: #2e0055;
    }

    .inputContainer input {
        width: Fixed (553px) px;
        height: Hug (45px) px;
        top: 583px;
        left: 609px;
        padding: 12px 24px 12px 24px;
        gap: 0px;
        border-radius: 24px;
        justify: space-between;

        width: 100%;
        background-color: white;
        color: black;
        border: none;
        font-family: Hind;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        text-align: left;
    }

    .inputContainer .micIcon {
        position: absolute;
        size: 16px !important;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
    }
    .micIconValue {
        width: 16px;
        height: 19px;
    }

    .chatBubble {
        width: Fill (553px) px;
        height: Hug (100px) px;
        padding: 24px 32px 24px 32px;
        gap: 8px;
        font-family: Hind;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        margin-top: 16px;
        letter-spacing: 0.02em;
        width: Fixed (516px) px;
        height: Hug (152px) px;
        top: 123px;
        left: 562px;
        gap: 8px;
    }
    .systemMessage {
        background-color: #cf0176;

        border-radius: 32px 32px 32px 4px;
    }
    .welcomeMessage {
        width: Fixed (553px) px;
        height: Hug (152px) px;
        top: 111px;
        left: 609px;
        padding: 24px 32px 24px 32px;
        gap: 8px;
        border-radius: 32px 32px 32px 4px !important;
        font-family: Hind;
        font-size: 40px;
        font-weight: 400;
        line-height: 52px;
        letter-spacing: 0.02em;
        text-align: left;
        color: white;
    }

    .chatBubbleImage {
        justify-content: start;
        padding-top: 10px;
        width: 553px;
        height: 211px;
        border-radius: 24px;
    }
    .chatOptionContainer {
        gap: '32px';
        margin-top: '32px';
    }
    .chatOptionButton {
        width: 238px;
        height: 87px;
        top: 287px;
        left: 609px;
        padding: 24px;
        gap: 8px;
        border-radius: 24px;
        gap: 8px;
        font-family: Hind;
        font-size: 22px;
        font-weight: 500;
        line-height: 26.4px;
        text-align: center;
        color: #2e0055;
    }

    .chatBoxLayout {
        flex-grow: 1;
        height: 60vh;
        padding-left: 1rem;
        overflow-y: scroll;
        width: 100%;
    }
    .flexContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem;
        background-color: #2e0055;
        font-family: 'Hind', sans-serif;
    }

    .bottomCard {
        width: 553px;
        height: 134px;
        background-color: #6b2ba0;
        border-radius: 24px;
        display: flex;
        overflow: hidden;
    }

    .bottomCardSection {
        width: 131px;
        height: 134px;
        border-right: 2px solid #2e0055;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bottomCardicon {
        width: 53px;
        height: 48px;
        color: white;
        margin-bottom: 1rem;
    }

    .bottomCardTextLarge {
        font-size: 20px;
        line-height: 24px;
        color: white;
        font-weight: 500;
    }

    .bottomCardTextMedium {
        font-size: 22px;
        line-height: 28.6px;
        color: white;
        font-weight: 500;
        width: 349px;
        height: 58px;
    }

    .bottomCardSvgIcon {
        margin-bottom: 1rem;
        width: 53px;
        height: 48px;
    }
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 600px) {
    .mapImage {
        width: 100%;
    }

    .steps {
        max-height: none;
        overflow-y: auto;
        padding-right: 10px;
        padding: 24px 32px 24px 32px;
        gap: 8px;
        width: 100%;
        border-radius: 32px 32px 32px 32px;
        background-color: #3e005b;
    }

    .mapHeaderBox {
        font-family: Hind;
        /* font-size: 20px; */
        font-weight: 400;
        /* line-height: 52px; */
        letter-spacing: 0.02em;
        text-align: left;
        width: 100%;
        height: Hug(152px) px;
        top: 123px;
        left: 562px;
        padding: 24px 32px 24px 32px;
        gap: 8px;
        border-radius: 32px 32px 32px 4px;
        background-color: purple;
        /* padding: 16px; */
        color: white;
    }

    .avatar {
        display: none;
    }

    .helpBox {
        font-size: 14px;
        padding: 12px;
        width: auto;
    }

    .helpoptions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .helpoptions button {
        font-size: 14px;
        padding: 10px;
    }

    .inputContainer {
        width: 100%;
        height: 40px;
    }

    .inputContainer input {
        padding-left: 12px;
        padding-right: 36px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .inputContainer .micIcon {
        right: 8px;
    }

    .steps {
        padding: 8px 0;
        gap: 8px;
    }

    .step {
        padding: 4px;
    }

    .step span {
        margin: 2px 0;
    }
}

/* Remove this style if you want to clean up unused CSS */
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.videoContainer {
    margin-top: 20px;
    width: 100%;
}

.videoContainer video {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.videoWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% - 1rem);
    height: 100%;
    z-index: 0;
}

.videoWrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 64px;
}

.chatBubbleImage {
    justify-content: start;
    padding-top: '10px';
    width: '553px';
    border-radius: '24px';
}

@media screen and (max-width: 600px) {
    .dialogBox {
        width: auto;
    }

    .videoWrapper {
        display: none;
    }

    .avatar {
        display: none;
    }
}
